{
  "semi": true,
  "tabWidth": 4,
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve",
        "tabWidth": 2,
        "requirePragma": true,
        "printWidth": 120
      }
    }
  ]
}
