/* globals.css */

/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Orbit:wght@400;700&display=swap");

/* Tailwind CSS Layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "prismjs/themes/prism.css";

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 225, 225, 225;
    --background-end-rgb: 210, 210, 210;
}

@media (prefers-color-scheme: dark) {
    /* :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    } */
}

@media (max-width: 768px) {
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

header {
    background-color: #5e5e5e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header div {
    margin-bottom: 30px;
}

body {
    background-color: rgb(var(--background-start-rgb));
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
}

/* 글 제목 스타일 */
h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

/* 목록에 점이 표시되도록 설정 */
ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}
