@tailwind base;
@tailwind components;
@tailwind utilities;

@import "prismjs/themes/prism.css";

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 225, 225, 225;
    --background-end-rgb: 210, 210, 210;
}

body {
    background-color: rgb(var(--background-start-rgb));
}

header {
    background-color: #5e5e5e;
    color: #f5f5f5;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header .header-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
    margin-bottom: 30px;
}

header .site-link {
    font-size: 20px;
    font-style: italic;
    color: #d5d5d5;
    text-decoration: none;
}

header .about-link {
    font-size: 16px;
    font-style: italic;
    color: #f5f5f5;
    text-decoration: none;
    margin-top: 4px;
}

header .about-link.highlight {
    color: #fade27;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 10px;
}

nav li {
    margin: 0 20px;
    scroll-snap-align: start;
}

nav a {
    color: #f5f5f5;
    font-weight: bold;
}

.category-link {
    color: inherit;
}

.category-link.active {
    color: #fade27;
}

/* Mobile view adjustments */
@media (max-width: 767px) {
    nav ul {
        padding-left: 100px;
    }
}

/* Desktop view adjustments */
@media (min-width: 768px) {
    nav ul {
        overflow-x: visible;
        justify-content: center;
    }
}

/* Additional styles */
h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

/* pagingation */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pagination .page-button {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #5e5e5e;
}

.pagination .page-button.active {
    background-color: #fade27;
}

/* language toggle */
.language-toggle-container {
    position: absolute;
    top: 16px;
    right: 12px;
}

.language-switch-button {
    position: relative;
    display: flex;
    align-items: center;
    background: #c0c0c0;
    border-radius: 18px;
    padding: 4px;
    cursor: pointer;
    width: 68px;
    height: 32px;
}

.switch-option {
    z-index: 1;
    flex: 1;
    text-align: center;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 500;
}

.switch-option.active {
    color: #5e5e5e;
}

.switch-slider {
    position: absolute;
    left: 4px;
    width: 32px;
    height: 24px;
    background-color: #fade27;
    border-radius: 18px;
    transition: transform 0.3s ease;
}

.switch-slider.jp-active {
    transform: translateX(28px);
}

.highlight {
    color: #fade27;
}

.hover-highlight:hover {
    color: #fade27;
}

/* highlighting */
.bg-f5f5f5 {
    background-color: #f5f5f5;
}
