/* globals.css */

/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Orbit:wght@400;700&display=swap");

/* Tailwind CSS Layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "prismjs/themes/prism.css";

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 225, 225, 225;
    --background-end-rgb: 210, 210, 210;
}

/* Dark mode settings */
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/* Body background color */
body {
    background-color: rgb(var(--background-start-rgb));
}

/* Header styles */
header {
    background-color: #5e5e5e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .header-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
    margin-bottom: 30px;
}

header .site-link {
    font-size: 20px;
    font-style: italic;
    color: #ddd;
    text-decoration: none;
}

header .about-link {
    font-size: 16px;
    font-style: italic;
    color: #fff;
    text-decoration: none;
    margin-top: 4px;
}

header .language-toggle {
    position: absolute; /* absolute로 위치 고정 */
    top: 10px; /* 상단에 위치 */
    right: 10px; /* 우측에 위치 */
    display: flex;
    align-items: center;
    /* z-index: 10; 다른 요소들 위에 위치하도록 설정 */
}

header .language-toggle-button {
    padding: 8px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #6d6a6a;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header .language-toggle-button.active {
    color: #f0f0f0;
}

header .language-text {
    text-transform: uppercase;
    font-size: 14px;
}

/* Navigation styles */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 10px;
}

nav li {
    margin: 0 20px;
    scroll-snap-align: start;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline; /* Hover effect */
}

/* Mobile view adjustments */
@media (max-width: 767px) {
    nav ul {
        padding-left: 100px;
    }
}

/* Desktop view adjustments */
@media (min-width: 768px) {
    nav ul {
        overflow-x: visible;
        justify-content: center;
    }
}

/* Additional styles */
h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

/* pagingation */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pagination .page-button {
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #f0f0f0;
    text-decoration: none;
}

.pagination .page-button.active {
    background-color: #5e5e5e;
    color: white;
}

.pagination .prev-page,
.pagination .next-page {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #5e5e5e;
    color: white;
}
